//FONT
$mainFontFamily: 'Space Mono', monospace;
$bigFontWeight: 700;
$smallFontWeight: 400;

//COLORS
$lightBackgroundColor: #F6F8FF;
$lightBoxBackgroundColor: #FEFEFE;
$basicWhiteColor: #FFFFFF;
$darkBackgroundColor: #141D2F;
$darkBoxBackgroundColor: #1E2A47;
$devfinderBlackColor: #222731;
$darkModeColor: #697C9A;
$networkTextColor: #4B6A9B;
$gitUsernameColor: #2B3442;
$atUsernameColor: #0079FF;
$bioTextColor: #4B6A9B;
$errorTextColor: #F74646;
$buttonHoverColor: #60ABFF;
$inactiveShadow: 0px 16px 30px -10px rgba(0,0,0,0.12);
$activeShadow: 0px 4px 4px 0px rgba(0,0,0,0.25);

//ALL FONT SIZES
$devfinderDesktopFontSize: 26px;
$searchPlaceholderDesktopFontSize: 18px;
$searchPlaceholderMobileLineHeight: 25px;
$buttonDesktopFontSize: 16px;
$joinedDesktopFontSize: 15px;
$statsNameDesktopFontSize: 13px;
$statsNumberDesktopFontSize: 22px;
$backgroundModeFontSize: 13px;
$buttonFontSize: 14px;
$buttonLineHeight: 21px;
$statTitleSize: 11px;

//RESPONSIVNES

$desktop: 1440px;
$tablet: 768px;