//FONT
$mainFontFamily: 'Space Mono', monospace;
$bigFontWeight: 700;
$smallFontWeight: 400;

//COLORS
$lightBackgroundColor: #f6f8ff;
$lightBoxBackgroundColor: #fefefe;
$basicWhiteColor: #ffffff;
$darkBackgroundColor: #141d2f;
$darkBoxBackgroundColor: #1e2a47;
$devfinderBlackColor: #222731;
$darkModeColor: #697c9a;
$networkTextColor: #4b6a9b;
$gitUsernameColor: #2b3442;
$atUsernameColor: #0079ff;
$bioTextColor: #4b6a9b;
$errorTextColor: #f74646;
$buttonHoverColor: #60abff;
$inactiveShadow: 0px 16px 30px -10px rgba(0, 0, 0, 0.25);
$activeShadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

//ALL FONT SIZES
$devfinderDesktopFontSize: 26px;
$searchPlaceholderDesktopFontSize: 18px;
$searchPlaceholderMobileLineHeight: 25px;
$buttonDesktopFontSize: 16px;
$joinedDesktopFontSize: 15px;
$statsNameDesktopFontSize: 13px;
$statsNumberDesktopFontSize: 22px;
$backgroundModeFontSize: 13px;
$buttonFontSize: 14px;
$buttonLineHeight: 21px;
$statTitleSize: 11px;

//RESPONSIVNES

$desktop: 1440px;
$tablet: 768px;

$cursor: url('../images/pointer.png'), pointer;