:root {
  --light-background: #F6F8FF;
  --light-background-content: #FEFEFE;
  --light-background-text: #4B6A9B;
  --light-background-text-alt: #2B3442;
  --light-shadow-active: 0px 4px 4px 0px rgba(0,0,0,0.25);
  --light-shadow-inactive: 0px 16px 30px -10px rgba(0,0,0,0.2);
  --icon-background: brightness(100%);
  --button: #0079FF;
  --button-hover: #60ABFF;
  --dark-background: #141D2F;
  --dark-background-content: #1E2A47;
  --dark-background-text: white;
  --dark-background-text-alt: white;
  --dark-background-shadow: rgba(70,88,109,0.15);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

body {
  background-color: #F6F8FF;
}

.container {
  max-width: 327px;
  margin: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 573px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 730px;
    margin-top: 32px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 78px;
  padding-top: 8%;
}

.header h1 {
  font-size: 26px;
  font-weight: 700;
  color: #222731;
}

.header p {
  font-size: 13px;
}

@media (min-width: 768px) {
  .header {
    padding-top: 16%;
  }
}

@media (min-width: 1440px) {
  .header {
    padding-top: 20%;
  }
}

.button-mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 2px;
  width: 78px;
  height: 20px;
  font-weight: bold;
  color: #4B6A9B;
}

.button-mode:hover {
  cursor: pointer;
}

.searchbar-container {
  background-color: #FEFEFE;
  border-radius: 15px;
  margin-top: 8%;
  -webkit-box-shadow: 0px 16px 30px -10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 16px 30px -10px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../images/icon-search.svg");
  background-size: 7%;
  background-repeat: no-repeat;
  background-position-x: 8px;
  background-position-y: center;
}

@media (min-width: 768px) {
  .searchbar-container {
    background-size: 4%;
    background-position-x: 4%;
  }
}

@media (min-width: 1440px) {
  .searchbar-container {
    height: 69px;
  }
}

.searchbar-container label {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.searchbar-container img {
  height: 20px;
  width: 20px;
  padding: 0 10px 0px 16px;
}

.input {
  border: none;
  width: 100%;
  height: 100%;
  outline: none;
  background: none;
  color: #4B6A9B;
  padding-left: 18%;
  line-height: 25px;
}

@media (min-width: 768px) {
  .input {
    font-size: 18px;
  }
}

.input::-webkit-input-placeholder {
  color: #4B6A9B;
  letter-spacing: 0.2px;
  font-weight: 400;
  font-size: 13px;
}

.input:-ms-input-placeholder {
  color: #4B6A9B;
  letter-spacing: 0.2px;
  font-weight: 400;
  font-size: 13px;
}

.input::-ms-input-placeholder {
  color: #4B6A9B;
  letter-spacing: 0.2px;
  font-weight: 400;
  font-size: 13px;
}

.input::placeholder {
  color: #4B6A9B;
  letter-spacing: 0.2px;
  font-weight: 400;
  font-size: 13px;
}

@media (min-width: 768px) {
  .input::-webkit-input-placeholder {
    position: absolute;
    left: 60px;
    font-size: 18px;
    line-height: 25px;
  }
  .input:-ms-input-placeholder {
    position: absolute;
    left: 60px;
    font-size: 18px;
    line-height: 25px;
  }
  .input::-ms-input-placeholder {
    position: absolute;
    left: 60px;
    font-size: 18px;
    line-height: 25px;
  }
  .input::placeholder {
    position: absolute;
    left: 60px;
    font-size: 18px;
    line-height: 25px;
  }
}

@media (min-width: 1440px) {
  .input::-webkit-input-placeholder {
    left: 82px;
  }
  .input:-ms-input-placeholder {
    left: 82px;
  }
  .input::-ms-input-placeholder {
    left: 82px;
  }
  .input::placeholder {
    left: 82px;
  }
}

.button-search {
  background-color: #0079FF;
  min-width: 84px;
  height: 75%;
  margin-right: 2%;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 21px;
}

@media (min-width: 768px) {
  .button-search {
    margin-right: 10px;
    min-width: 106px;
  }
}

.button-search:hover {
  cursor: pointer;
  background-color: #60ABFF;
}

.button-search:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.profile-container {
  background-color: #FFFFFF;
  width: 327px;
  min-height: 517px;
  border-radius: 15px;
  margin-top: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 0px 16px 30px -10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 16px 30px -10px rgba(0, 0, 0, 0.25);
}

@media (min-width: 768px) {
  .profile-container {
    margin-top: 24px;
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .profile-container {
    min-height: 419px;
  }
}

.profile-content {
  width: 280px;
  height: 481px;
  min-height: 517px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (min-width: 768px) {
  .profile-content {
    width: 493px;
  }
}

@media (min-width: 1440px) {
  .profile-content {
    max-width: 480px;
    margin-left: 200px;
    min-height: 400px;
    max-height: 400px;
  }
}

.profile-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1440px) {
  .profile-header {
    position: relative;
    right: 160px;
    max-height: 40px;
    max-width: 625px;
  }
}

#avatar {
  border-radius: 90px;
  width: 70px;
  height: 70px;
}

@media (min-width: 768px) {
  #avatar {
    width: 117px;
    height: 117px;
  }
}

.profile-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile-name h2 {
  font-size: 16px;
  font-weight: bold;
  color: #2B3442;
}

@media (min-width: 1440px) {
  .profile-name {
    min-height: 100px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

#user {
  color: #0079FF;
}

@media (min-width: 768px) {
  #user {
    font-size: 16px;
  }
}

.profile-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 70px;
  margin-left: 20px;
}

@media (min-width: 768px) {
  .profile-info-container {
    min-height: 117px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 38px;
  }
}

@media (min-width: 1440px) {
  .profile-info-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-width: 100%;
    height: 60px;
  }
}

@media (min-width: 768px) {
  #name {
    font-size: 26px;
  }
}

#bio {
  line-height: 25px;
}

.profile-stats-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #F6F8FF;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .profile-stats-container {
    padding-left: 40px;
  }
}

.profile-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 85px;
}

@media (min-width: 768px) {
  .profile-stats {
    text-align: start;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.profile-stats .stat-title {
  font-size: 11px;
  color: #4B6A9B;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  .profile-stats .stat-title {
    font-size: 13px;
  }
}

.profile-stats .stat-value {
  color: #2B3442;
  font-size: 16px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .profile-stats .stat-value {
    font-size: 25px;
    text-align: start;
  }
}

.profile-bottom-container {
  height: 127px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .profile-bottom-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-flow: column wrap;
        flex-flow: column wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-height: 63px;
  }
}

.profile-bottom-container .profile-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile-bottom-container .profile-info p {
  margin-left: 18px;
}

.profile-bottom-container .network-icons {
  width: 20px;
}

.error {
  position: absolute;
}

#no-results {
  position: relative;
  color: #F74646;
  font-weight: bold;
  left: 130px;
}

@media (min-width: 768px) {
  #no-results {
    left: 350px;
  }
}

@media (min-width: 1440px) {
  #no-results {
    left: 500px;
  }
}

.active {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
/*# sourceMappingURL=style.css.map */