* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

body {
  background-color: #f6f8ff;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.container {
  max-width: 327px;
  margin: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 573px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 730px;
    margin-top: 32px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 78px;
  padding-top: 8%;
}

.header h1 {
  font-size: 26px;
  font-weight: 700;
  color: #222731;
}

.header p {
  font-size: 13px;
}

@media (min-width: 768px) {
  .header {
    padding-top: 16%;
  }
}

@media (min-width: 1440px) {
  .header {
    padding-top: 20%;
  }
}

.header #text-mode {
  margin-top: 6px;
}

.header .icon-container {
  margin-top: 4px;
  width: 20px;
  height: 20px;
}

.button-mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 2px;
  width: 78px;
  height: 20px;
  font-weight: bold;
  color: #4b6a9b;
}

.button-mode:hover {
  color: #222731;
  cursor: url("../images/pointer.png"), pointer;
}

.searchbar-container {
  background-color: #fefefe;
  border-radius: 15px;
  margin-top: 8%;
  -webkit-box-shadow: 0px 16px 30px -10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 16px 30px -10px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../images/icon-search.svg");
  background-size: 6%;
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: center;
  cursor: url("../images/pointer.png"), pointer;
}

@media (min-width: 768px) {
  .searchbar-container {
    background-size: 4%;
    background-position-x: 4%;
  }
}

@media (min-width: 1440px) {
  .searchbar-container {
    height: 69px;
    background-size: 3.5%;
  }
}

.searchbar-container label {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.input {
  border: none;
  width: 105%;
  height: 100%;
  outline: none;
  background: none;
  color: #4b6a9b;
  padding-left: 16%;
  line-height: 25px;
  font-size: 13px;
}

@media (min-width: 768px) {
  .input {
    font-size: 18px;
  }
}

.input::-webkit-input-placeholder {
  color: #4b6a9b;
  font-weight: 400;
  font-size: 13px;
  word-spacing: -4px;
  padding-left: 4px;
  width: 100%;
}

.input:-ms-input-placeholder {
  color: #4b6a9b;
  font-weight: 400;
  font-size: 13px;
  word-spacing: -4px;
  padding-left: 4px;
  width: 100%;
}

.input::-ms-input-placeholder {
  color: #4b6a9b;
  font-weight: 400;
  font-size: 13px;
  word-spacing: -4px;
  padding-left: 4px;
  width: 100%;
}

.input::placeholder {
  color: #4b6a9b;
  font-weight: 400;
  font-size: 13px;
  word-spacing: -4px;
  padding-left: 4px;
  width: 100%;
}

@media (min-width: 768px) {
  .input::-webkit-input-placeholder {
    position: absolute;
    left: 60px;
    font-size: 18px;
    line-height: 25px;
  }
  .input:-ms-input-placeholder {
    position: absolute;
    left: 60px;
    font-size: 18px;
    line-height: 25px;
  }
  .input::-ms-input-placeholder {
    position: absolute;
    left: 60px;
    font-size: 18px;
    line-height: 25px;
  }
  .input::placeholder {
    position: absolute;
    left: 60px;
    font-size: 18px;
    line-height: 25px;
  }
}

@media (min-width: 1440px) {
  .input::-webkit-input-placeholder {
    left: 76px;
  }
  .input:-ms-input-placeholder {
    left: 76px;
  }
  .input::-ms-input-placeholder {
    left: 76px;
  }
  .input::placeholder {
    left: 76px;
  }
}

.button-search {
  background-color: #0079ff;
  min-width: 84px;
  height: 75%;
  margin-right: 2%;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 21px;
}

@media (min-width: 768px) {
  .button-search {
    margin-right: 10px;
    min-width: 106px;
  }
}

.button-search:hover {
  cursor: url("../images/pointer.png"), pointer;
  background-color: #60abff;
}

.button-search:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.profile-container {
  background-color: #ffffff;
  width: 327px;
  min-height: 517px;
  border-radius: 15px;
  margin-top: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 0px 16px 30px -10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 16px 30px -10px rgba(0, 0, 0, 0.25);
}

@media (min-width: 768px) {
  .profile-container {
    margin-top: 24px;
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .profile-container {
    min-height: 419px;
  }
}

.profile-content {
  width: 280px;
  height: 481px;
  min-height: 517px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (min-width: 768px) {
  .profile-content {
    width: 493px;
  }
}

@media (min-width: 1440px) {
  .profile-content {
    max-width: 480px;
    margin-left: 200px;
    min-height: 400px;
    max-height: 400px;
  }
}

.profile-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1440px) {
  .profile-header {
    position: relative;
    right: 160px;
    max-height: 40px;
    max-width: 625px;
  }
}

#avatar {
  border-radius: 90px;
  width: 70px;
  height: 70px;
}

@media (min-width: 768px) {
  #avatar {
    width: 117px;
    height: 117px;
  }
}

.profile-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile-name h2 {
  font-size: 16px;
  font-weight: bold;
  color: #2b3442;
}

@media (min-width: 1440px) {
  .profile-name {
    min-height: 100px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

#user {
  margin-left: 1%;
  color: #0079ff;
}

@media (min-width: 768px) {
  #user {
    font-size: 16px;
    margin-left: 2%;
  }
}

.profile-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 70px;
  margin-left: 20px;
}

@media (min-width: 768px) {
  .profile-info-container {
    min-height: 117px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 38px;
  }
}

@media (min-width: 1440px) {
  .profile-info-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-width: 100%;
    height: 60px;
  }
}

@media (min-width: 768px) {
  #name {
    font-size: 26px;
  }
}

#bio {
  line-height: 25px;
  color: #4b6a9b;
  padding-top: 10px;
  width: 289px;
  font-size: 13px;
}

@media (min-width: 768px) {
  #bio {
    width: 493px;
    font-size: 15px;
    margin-top: -24px;
  }
}

@media (min-width: 1440px) {
  #bio {
    font-size: 15px;
    padding-top: 28px;
    max-width: 483px;
  }
}

#date {
  color: #697c9a;
  margin-left: 0.5%;
  margin-top: 2%;
  font-size: 13px;
  width: 144px;
  height: 19px;
}

@media (min-width: 768px) {
  #date {
    margin-left: 1%;
    width: 166px;
    height: 22px;
  }
}

@media (min-width: 1440px) {
  #date {
    margin-left: 30%;
    font-size: 15px;
    width: 166px;
    height: 22px;
  }
}

.profile-stats-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #f6f8ff;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .profile-stats-container {
    padding-left: 40px;
  }
}

.profile-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 85px;
}

@media (min-width: 768px) {
  .profile-stats {
    text-align: start;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.profile-stats .stat-title {
  font-size: 11px;
  color: #4b6a9b;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  .profile-stats .stat-title {
    font-size: 13px;
  }
}

@media (min-width: 1440px) {
  .profile-stats .stat-title {
    font-weight: 400;
  }
}

.profile-stats .stat-value {
  color: #2b3442;
  font-size: 16px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .profile-stats .stat-value {
    font-size: 25px;
    text-align: start;
  }
}

.profile-bottom-container {
  height: 127px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: url("../images/pointer.png"), pointer;
}

@media (min-width: 768px) {
  .profile-bottom-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-flow: column wrap;
        flex-flow: column wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-height: 63px;
  }
}

.profile-bottom-container .profile-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile-bottom-container .profile-info p {
  margin-left: 14px;
  color: #4b6a9b;
  font-size: 13px;
}

.profile-bottom-container .profile-info p:hover {
  text-decoration: underline;
}

@media (min-width: 1440px) {
  .profile-bottom-container .profile-info p {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .profile-bottom-container .profile-info p {
    font-size: 15px;
  }
}

.profile-bottom-container .network-icons {
  width: 20px;
}

.error {
  position: absolute;
}

#no-results {
  position: relative;
  font-size: 12px;
  color: #f74646;
  font-weight: bold;
  left: 160px;
  top: 12px;
}

@media (min-width: 768px) {
  #no-results {
    left: 360px;
    font-size: 15px;
    top: -2px;
  }
}

@media (min-width: 1440px) {
  #no-results {
    left: 500px;
  }
}

.active {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.dark {
  background-color: #141d2f;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.dark .title {
  color: #ffffff;
}

.dark .button-mode {
  color: #ffffff;
}

.dark .button-mode:hover {
  color: #90A4D4;
}

.dark .searchbar-container {
  background-color: #1e2a47;
}

.dark .input {
  color: #ffffff;
}

.dark .input::-webkit-input-placeholder {
  color: #ffffff;
}

.dark .input:-ms-input-placeholder {
  color: #ffffff;
}

.dark .input::-ms-input-placeholder {
  color: #ffffff;
}

.dark .input::placeholder {
  color: #ffffff;
}

.dark .profile-container {
  background-color: #1e2a47;
}

.dark .profile-container #name {
  color: #ffffff;
}

.dark .profile-container #date {
  color: #ffffff;
}

.dark .profile-container #bio {
  color: #ffffff;
}

.dark .profile-stats-container {
  background-color: #141d2f;
}

.dark .profile-stats-container .stat-title {
  color: #ffffff;
}

.dark .profile-stats-container .stat-value {
  color: #ffffff;
}

.dark .profile-bottom-container .profile-info p {
  color: #ffffff;
}

.dark .network-icons {
  -webkit-filter: brightness(5);
          filter: brightness(5);
}
/*# sourceMappingURL=style.css.map */